In [1]:
import numpy as np  # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [2]:
# read data from file
test_data = pd.read_csv("test data.csv")
train_data = pd.read_csv("train data.csv")

In [3]:
train_data.head()

,Id,Fiscal Year,Term Type,Career,Program Level,Study Year,Campus_Id,Faculty Group,Program Grouping,Coop Regular,WorkTerm,Attendance,Visa Status,Gender,Unique Headcount
0,0,2008/09,Fall term,Graduate,Doctoral,D,4,AHS,"Aging, Health and Well-Being",Regular,Academic Term,Full-Time,Canadian,Male,5
1,1,2008/09,Fall term,Graduate,Doctoral,D,4,AHS,"Aging, Health and Well-Being",Regular,Academic Term,Full-Time,Canadian,Female,7
2,2,2008/09,Fall term,Graduate,Doctoral,D,4,AHS,"Aging, Health and Well-Being",Regular,Academic Term,Full-Time,International,Female,1
3,3,2008/09,Fall term,Graduate,Doctoral,D,4,AHS,Health Studies and Gerontology,Regular,Academic Term,Full-Time,Canadian,Male,3
4,4,2008/09,Fall term,Graduate,Doctoral,D,4,AHS,Health Studies and Gerontology,Regular,Academic Term,Full-Time,Canadian,Female,11

In [4]:
test_data.head()

,Id,Fiscal Year,Term Type,Career,Program Level,Study Year,Campus_Id,Faculty Group,Program Grouping,Coop Regular,WorkTerm,Attendance,Visa Status,Gender
0,72249,2015/16,Fall term,Graduate,Doctoral,D,4,AHS,"Aging, Health and Well-Being",Regular,Academic Term,Full-Time,Canadian,Male
1,72250,2015/16,Fall term,Graduate,Doctoral,D,4,AHS,"Aging, Health and Well-Being",Regular,Academic Term,Full-Time,Canadian,Female
2,72251,2015/16,Fall term,Graduate,Doctoral,D,4,AHS,"Aging, Health and Well-Being",Regular,Academic Term,Full-Time,Canadian Permanent Resident,Female
3,72252,2015/16,Fall term,Graduate,Doctoral,D,4,AHS,"Aging, Health and Well-Being",Regular,Academic Term,Full-Time,International,Male
4,72253,2015/16,Fall term,Graduate,Doctoral,D,4,AHS,"Aging, Health and Well-Being",Regular,Academic Term,Part-Time,Canadian,Female

In [5]:
train_data['Campus_Id'] = train_data['Campus_Id'].astype('object')
test_data['Campus_Id'] = test_data['Campus_Id'].astype('object')
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72249 entries, 0 to 72248
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                72249 non-null  int64
 1   Fiscal Year       72249 non-null  object
 2   Term Type         72249 non-null  object
 3   Career            72249 non-null  object
 4   Program Level     72249 non-null  object
 5   Study Year        72249 non-null  object
 6   Campus_Id         72249 non-null  object
 7   Faculty Group     72249 non-null  object
 8   Program Grouping  72249 non-null  object
 9   Coop Regular      72249 non-null  object
 10  WorkTerm          72249 non-null  object
 11  Attendance        72249 non-null  object
 12  Visa Status       72249 non-null  object
 13  Gender            72249 non-null  object
 14  Unique Headcount  72249 non-null  int64
dtypes: int64(2), object(13)
memory usage: 8.3+ MB

In [6]:
categorical_columns_train = train_data.select_dtypes(exclude = 'int64').columns
categorical_columns_test = test_data.select_dtypes(exclude = 'int64').columns
print(len(categorical_columns_train),len(categorical_columns_test))
print(categorical_columns_test)

13 13
Index(['Fiscal Year', 'Term Type', 'Career', 'Program Level', 'Study Year',
       'Campus_Id', 'Faculty Group', 'Program Grouping', 'Coop Regular',
       'WorkTerm', 'Attendance', 'Visa Status', 'Gender'],
      dtype='object')

In [7]:
categories_proceed = []
for i in categorical_columns_train:
    unique_program_train = np.unique(train_data[i])
    unique_program_test = np.unique(test_data[i])
    print(i, len(unique_program_train),len(unique_program_test))
    if(len(unique_program_train)==len(unique_program_test)):
        categories_proceed.append(i)
        
print(categories_proceed)

Fiscal Year 7 1
Term Type 3 3
Career 2 2
Program Level 5 5
Study Year 8 8
Campus_Id 5 4
Faculty Group 10 10
Program Grouping 147 136
Coop Regular 2 2
WorkTerm 2 2
Attendance 3 2
Visa Status 3 3
Gender 3 3
['Term Type', 'Career', 'Program Level', 'Study Year', 'Faculty Group', 'Coop Regular', 'WorkTerm', 'Visa Status', 'Gender']

In [8]:
print((np.unique(train_data['Campus_Id'])),(np.unique(test_data['Campus_Id'])))
print((np.unique(train_data['Attendance'])),(np.unique(test_data['Attendance'])))

[0 1 2 3 4] [0 1 2 4]
['Full-Time' 'Part-Time' 'Unknown Attendance'] ['Full-Time' 'Part-Time']

In [9]:
#converting all categories to ONE HOT ENCODING: Train Data
from sklearn.preprocessing import OneHotEncoder
for i in categories_proceed:
    onehot_features_train = pd.get_dummies(train_data[i],drop_first=True)
    train_data = pd.concat([pd.DataFrame(train_data), onehot_features_train], axis=1)
    train_data = train_data.drop(i, axis=1)
    
train_data.rename(columns={'2':'fg_2', '3':'fg_3', '4':'fg_4', '5':'fg_5'}, inplace=True)
pd.set_option('display.max_columns', None)
train_data.head()

,Id,Fiscal Year,Campus_Id,Program Grouping,Attendance,Unique Headcount,Spring term,Winter term,Undergraduate,Doctoral,Masters,Non-Degree,Qualifying,fg_2,fg_3,fg_4,fg_5,D,M,N,ARTS,CFM,ENG,ENV,MATH,REN,SCI,SE,THL,Regular,Work Term,Canadian Permanent Resident,International,Female,Male
0,0,2008/09,4,"Aging, Health and Well-Being",Full-Time,5,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
1,1,2008/09,4,"Aging, Health and Well-Being",Full-Time,7,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
2,2,2008/09,4,"Aging, Health and Well-Being",Full-Time,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0
3,3,2008/09,4,Health Studies and Gerontology,Full-Time,3,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
4,4,2008/09,4,Health Studies and Gerontology,Full-Time,11,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0

In [10]:
#converting all categories to ONE HOT ENCODING: Test Data
for i in categories_proceed:
    onehot_features_test = pd.get_dummies(test_data[i],drop_first=True)
    test_data = pd.concat([pd.DataFrame(test_data), onehot_features_test], axis=1)
    test_data = test_data.drop(i, axis=1)
    
test_data.rename(columns={'2':'fg_2', '3':'fg_3', '4':'fg_4', '5':'fg_5'}, inplace=True)
pd.set_option('display.max_columns', None)
test_data.head()

,Id,Fiscal Year,Campus_Id,Program Grouping,Attendance,Spring term,Winter term,Undergraduate,Doctoral,Masters,Non-Degree,Qualifying,fg_2,fg_3,fg_4,fg_5,D,M,N,ARTS,CFM,ENG,ENV,MATH,REN,SCI,SE,THL,Regular,Work Term,Canadian Permanent Resident,International,Female,Male
0,72249,2015/16,4,"Aging, Health and Well-Being",Full-Time,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
1,72250,2015/16,4,"Aging, Health and Well-Being",Full-Time,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
2,72251,2015/16,4,"Aging, Health and Well-Being",Full-Time,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0
3,72252,2015/16,4,"Aging, Health and Well-Being",Full-Time,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1
4,72253,2015/16,4,"Aging, Health and Well-Being",Part-Time,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0

In [11]:
print(train_data.shape, test_data.shape)

(72249, 35) (10924, 34)

In [12]:
#converting to ONE HOT ENCODING: Train Data: Campus_Id
cid_onehot_features = pd.get_dummies(train_data['Campus_Id'], drop_first=True)
train_data = pd.concat([pd.DataFrame(train_data), cid_onehot_features], axis=1)
train_data = train_data.drop('Campus_Id', axis=1)
train_data.rename(columns={1:'cid_1', 2:'cid_2', 3:'cid_3', 4:'cid_4'}, inplace=True)
train_data.head()

,Id,Fiscal Year,Program Grouping,Attendance,Unique Headcount,Spring term,Winter term,Undergraduate,Doctoral,Masters,Non-Degree,Qualifying,fg_2,fg_3,fg_4,fg_5,D,M,N,ARTS,CFM,ENG,ENV,MATH,REN,SCI,SE,THL,Regular,Work Term,Canadian Permanent Resident,International,Female,Male,cid_1,cid_2,cid_3,cid_4
0,0,2008/09,"Aging, Health and Well-Being",Full-Time,5,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1
1,1,2008/09,"Aging, Health and Well-Being",Full-Time,7,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1
2,2,2008/09,"Aging, Health and Well-Being",Full-Time,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,0,0,1
3,3,2008/09,Health Studies and Gerontology,Full-Time,3,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1
4,4,2008/09,Health Studies and Gerontology,Full-Time,11,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1

In [13]:
#converting to ONE HOT ENCODING: Test Data: Campus_Id
cid_onehot_features = pd.get_dummies(test_data['Campus_Id'], drop_first=True)
test_data = pd.concat([pd.DataFrame(test_data), cid_onehot_features], axis=1)
test_data = test_data.drop('Campus_Id', axis=1)
test_data.insert(35,'add_col',0)
test_data.rename(columns={1:'cid_1', 2:'cid_2', 'add_col':'cid_3', 4:'cid_4'}, inplace=True)
test_data.head()

,Id,Fiscal Year,Program Grouping,Attendance,Spring term,Winter term,Undergraduate,Doctoral,Masters,Non-Degree,Qualifying,fg_2,fg_3,fg_4,fg_5,D,M,N,ARTS,CFM,ENG,ENV,MATH,REN,SCI,SE,THL,Regular,Work Term,Canadian Permanent Resident,International,Female,Male,cid_1,cid_2,cid_3,cid_4
0,72249,2015/16,"Aging, Health and Well-Being",Full-Time,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1
1,72250,2015/16,"Aging, Health and Well-Being",Full-Time,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1
2,72251,2015/16,"Aging, Health and Well-Being",Full-Time,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,1
3,72252,2015/16,"Aging, Health and Well-Being",Full-Time,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1
4,72253,2015/16,"Aging, Health and Well-Being",Part-Time,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1

In [14]:
print(train_data.shape, test_data.shape)

(72249, 38) (10924, 37)

In [15]:
#converting 3 categories to ONE HOT ENCODING: Train Data: Attendance
attd_onehot_features = pd.get_dummies(train_data['Attendance'])
attd_dummy_features = attd_onehot_features.iloc[:,:-1]
train_data = pd.concat([pd.DataFrame(train_data), attd_dummy_features], axis=1)
train_data = train_data.drop('Attendance', axis=1)
train_data.head()

,Id,Fiscal Year,Program Grouping,Unique Headcount,Spring term,Winter term,Undergraduate,Doctoral,Masters,Non-Degree,Qualifying,fg_2,fg_3,fg_4,fg_5,D,M,N,ARTS,CFM,ENG,ENV,MATH,REN,SCI,SE,THL,Regular,Work Term,Canadian Permanent Resident,International,Female,Male,cid_1,cid_2,cid_3,cid_4,Full-Time,Part-Time
0,0,2008/09,"Aging, Health and Well-Being",5,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,1,0
1,1,2008/09,"Aging, Health and Well-Being",7,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,1,0
2,2,2008/09,"Aging, Health and Well-Being",1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,0,0,1,1,0
3,3,2008/09,Health Studies and Gerontology,3,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,1,0
4,4,2008/09,Health Studies and Gerontology,11,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,1,0

In [16]:
#converting 3 categories to ONE HOT ENCODING: Test Data: Attendance
attd_onehot_features = pd.get_dummies(test_data['Attendance'])
#attd_dummy_features = attd_onehot_features.iloc[:,:-1] beacuse it has 2 attribute in test dataset
test_data = pd.concat([pd.DataFrame(test_data), attd_onehot_features], axis=1)
test_data = test_data.drop('Attendance', axis=1)
test_data.head()

,Id,Fiscal Year,Program Grouping,Spring term,Winter term,Undergraduate,Doctoral,Masters,Non-Degree,Qualifying,fg_2,fg_3,fg_4,fg_5,D,M,N,ARTS,CFM,ENG,ENV,MATH,REN,SCI,SE,THL,Regular,Work Term,Canadian Permanent Resident,International,Female,Male,cid_1,cid_2,cid_3,cid_4,Full-Time,Part-Time
0,72249,2015/16,"Aging, Health and Well-Being",0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,1,0
1,72250,2015/16,"Aging, Health and Well-Being",0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,1,0
2,72251,2015/16,"Aging, Health and Well-Being",0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,1,1,0
3,72252,2015/16,"Aging, Health and Well-Being",0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1,1,0
4,72253,2015/16,"Aging, Health and Well-Being",0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,1

In [17]:
print(train_data.shape, test_data.shape)

(72249, 39) (10924, 38)

In [18]:
dateis = np.array(train_data['Fiscal Year'])
for i in range(len(dateis)):
    #print(dateis[i])
    dateis[i] = dateis[i].replace('/','')
    dateis[i] = dateis[i][2:]

train_data['Fiscal Year'] =  dateis
train_data['Fiscal Year'] = train_data['Fiscal Year'].astype(int)
train_data.head()

,Id,Fiscal Year,Program Grouping,Unique Headcount,Spring term,Winter term,Undergraduate,Doctoral,Masters,Non-Degree,Qualifying,fg_2,fg_3,fg_4,fg_5,D,M,N,ARTS,CFM,ENG,ENV,MATH,REN,SCI,SE,THL,Regular,Work Term,Canadian Permanent Resident,International,Female,Male,cid_1,cid_2,cid_3,cid_4,Full-Time,Part-Time
0,0,809,"Aging, Health and Well-Being",5,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,1,0
1,1,809,"Aging, Health and Well-Being",7,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,1,0
2,2,809,"Aging, Health and Well-Being",1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,0,0,1,1,0
3,3,809,Health Studies and Gerontology,3,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,1,0
4,4,809,Health Studies and Gerontology,11,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,1,0

In [19]:
dateis = np.array(test_data['Fiscal Year'])
for i in range(len(dateis)):
    #print(dateis[i])
    dateis[i] = dateis[i].replace('/','')
    dateis[i] = dateis[i][2:]

test_data['Fiscal Year'] =  dateis
test_data['Fiscal Year'] = test_data['Fiscal Year'].astype(int)
test_data.head()

,Id,Fiscal Year,Program Grouping,Spring term,Winter term,Undergraduate,Doctoral,Masters,Non-Degree,Qualifying,fg_2,fg_3,fg_4,fg_5,D,M,N,ARTS,CFM,ENG,ENV,MATH,REN,SCI,SE,THL,Regular,Work Term,Canadian Permanent Resident,International,Female,Male,cid_1,cid_2,cid_3,cid_4,Full-Time,Part-Time
0,72249,1516,"Aging, Health and Well-Being",0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,1,0
1,72250,1516,"Aging, Health and Well-Being",0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,1,0
2,72251,1516,"Aging, Health and Well-Being",0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,1,1,0
3,72252,1516,"Aging, Health and Well-Being",0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1,1,0
4,72253,1516,"Aging, Health and Well-Being",0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,1

In [20]:
# Program Grouping: 147 to 8 features
from sklearn.feature_extraction import FeatureHasher
fh = FeatureHasher(n_features=8, input_type='string')
hashed_features = fh.fit_transform(train_data['Program Grouping'])
hashed_features = hashed_features.toarray()
hashed_features.shape
train_data=pd.concat([pd.DataFrame(train_data),pd.DataFrame(hashed_features)],axis=1)
train_data.rename(columns={0:'pg_0', 1:'pg_1', 2:'pg_2', 3:'pg_3', 4:'pg_4', 5:'pg_5', 6:'pg_6', 7:'pg_7'}, inplace=True)
train_data = train_data.drop('Program Grouping', axis=1)
train_data.head()

,Id,Fiscal Year,Unique Headcount,Spring term,Winter term,Undergraduate,Doctoral,Masters,Non-Degree,Qualifying,fg_2,fg_3,fg_4,fg_5,D,M,N,ARTS,CFM,ENG,ENV,MATH,REN,SCI,SE,THL,Regular,Work Term,Canadian Permanent Resident,International,Female,Male,cid_1,cid_2,cid_3,cid_4,Full-Time,Part-Time,pg_0,pg_1,pg_2,pg_3,pg_4,pg_5,pg_6,pg_7
0,0,809,5,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,1,0,2.0,0.0,-1.0,-1.0,0.0,-3.0,0.0,3.0
1,1,809,7,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,1,0,2.0,0.0,-1.0,-1.0,0.0,-3.0,0.0,3.0
2,2,809,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,0,0,1,1,0,2.0,0.0,-1.0,-1.0,0.0,-3.0,0.0,3.0
3,3,809,3,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,1,0,4.0,3.0,1.0,2.0,-1.0,-2.0,1.0,2.0
4,4,809,11,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,1,0,4.0,3.0,1.0,2.0,-1.0,-2.0,1.0,2.0

In [21]:
# Program Grouping: 147 to 8 features: TEST
fh = FeatureHasher(n_features=8, input_type='string')
hashed_features = fh.fit_transform(test_data['Program Grouping'])
hashed_features = hashed_features.toarray()
hashed_features.shape
test_data=pd.concat([pd.DataFrame(test_data),pd.DataFrame(hashed_features)],axis=1)
test_data.rename(columns={0:'pg_0', 1:'pg_1', 2:'pg_2', 3:'pg_3', 4:'pg_4', 5:'pg_5', 6:'pg_6', 7:'pg_7'}, inplace=True)
test_data = test_data.drop('Program Grouping', axis=1)
test_data.head()

,Id,Fiscal Year,Spring term,Winter term,Undergraduate,Doctoral,Masters,Non-Degree,Qualifying,fg_2,fg_3,fg_4,fg_5,D,M,N,ARTS,CFM,ENG,ENV,MATH,REN,SCI,SE,THL,Regular,Work Term,Canadian Permanent Resident,International,Female,Male,cid_1,cid_2,cid_3,cid_4,Full-Time,Part-Time,pg_0,pg_1,pg_2,pg_3,pg_4,pg_5,pg_6,pg_7
0,72249,1516,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,1,0,2.0,0.0,-1.0,-1.0,0.0,-3.0,0.0,3.0
1,72250,1516,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,1,0,2.0,0.0,-1.0,-1.0,0.0,-3.0,0.0,3.0
2,72251,1516,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,1,1,0,2.0,0.0,-1.0,-1.0,0.0,-3.0,0.0,3.0
3,72252,1516,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1,1,0,2.0,0.0,-1.0,-1.0,0.0,-3.0,0.0,3.0
4,72253,1516,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,1,2.0,0.0,-1.0,-1.0,0.0,-3.0,0.0,3.0

In [22]:
print(train_data.shape, test_data.shape)

(72249, 46) (10924, 45)

In [23]:
X = train_data.drop('Unique Headcount', axis=1)
X = X.drop('Id', axis=1)
Y = train_data['Unique Headcount']

In [24]:
print(X.shape, Y.shape, test_data.shape)

(72249, 44) (72249,) (10924, 45)

In [25]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=42)
list(map(lambda x: x.shape, [X, Y, x_train, x_test, y_train, y_test]))

[(72249, 44), (72249,), (54186, 44), (18063, 44), (54186,), (18063,)]

In [26]:
# Instantiate model with 100 decision trees
from xgboost.sklearn import XGBClassifier  
from xgboost.sklearn import XGBRegressor
clf = XGBRegressor(random_state = 42,learning_rate=0.5, max_depth=8, n_estimators=120)

clf.fit(x_train, y_train)

[04:01:27] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(learning_rate=0.5, max_depth=8, n_estimators=120, random_state=42)

In [27]:
from sklearn.metrics import mean_squared_error, r2_score
import math
# Use the forest's predict method on the test data
predictions = clf.predict(x_test)
predictions = abs(predictions)
predictions = np.round(predictions)

# model evaluation
rmse = np.sqrt(mean_squared_error(y_test, predictions))
r2 = r2_score(y_test, predictions)
print('Root mean squared error: ', rmse)
print('R2 score: ', r2)

Root mean squared error:  6.552468174207496
R2 score:  0.8604825502422389

In [28]:
test_run = test_data.drop('Id', axis=1)
result = clf.predict(test_run)
result = abs(result)
result = np.round(result)
result = pd.DataFrame(result,columns=['Unique Headcount'])
#result.head()

result['Id'] = test_data['Id']
result = result[['Id','Unique Headcount']]
result['Id'] = result['Id'].astype(int)
result['Unique Headcount'] = result['Unique Headcount'].astype(int)
result.head(20)

       Id  Unique Headcount
0   72249                10
1   72250                11
2   72251                 0
3   72252                 2
4   72253                 4
5   72254                 1
6   72255                 7
7   72256                22
8   72257                 2
9   72258                 3
10  72259                 3
11  72260                 3
12  72261                 4
13  72262                20
14  72263                23
15  72264                 2
16  72265                 1
17  72266                 2
18  72267                 2
19  72268                 4

In [29]:
print(result.shape,test_data.shape)

(10924, 2) (10924, 45)

In [30]:
result.to_csv("result.csv", index=False)